{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
<section class="section">
	<div class="container">
			<div class="row justify-content-center">
					<div class="col-lg-8">
							<form name="campaignWriteForm">
								{% csrf_token %}
								<div class="row mb-3">
									<div class="col-sm-3 d-flex justify-content-between align-items-center">
										<h6>캠페인 타입</h6>
									</div>
									<div class="col-sm-9 d-flex justify-content-between align-items-center">
										<select class="px-nice-select" name="campaign_type">
											<option value="" selected="">타입을 선택해주세요.</option>
											<option value="배송형">배송형</option>
											<option value="방문형">방문형</option>
											<option value="기자단">기자단</option>
											<option value="구매형">구매형</option>
										</select>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-sm-3 d-flex justify-content-between align-items-center">
										<h6>활동 채널</h6>
									</div>
									<div class="col-sm-9 d-flex justify-content-between align-items-center">
										<select class="px-nice-select" name="channel">
											<option value="" selected="">활동 채널을 선택해주세요.</option>
											<option value="네이버블로그">네이버블로그</option>
											<option value="인스타그램">인스타그램</option>
											<option value="유튜브">유튜브</option>
											<option value="카페">카페</option>
											<option value="네이버포스트">네이버포스트</option>
											<option value="기타">기타</option>
										</select>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-sm-3 d-flex justify-content-between">
										<h6 class="mt-1">카테고리</h6>
									</div>
									<div class="col-sm-9 d-flex justify-content-between align-items-center">
										<select class="px-nice-select" name="category">
											<option value="" selected="">카테고리를 선택해주세요.</option>
											<option value="코스메틱">코스메틱</option>
											<option value="미용">미용</option>
											<option value="패션/잡화">패션/잡화</option>
											<option value="생활용품">생활용품</option>
											<option value="출산/육아">출산/육아</option>
											<option value="디지털/가전">디지털/가전</option>
											<option value="스포츠/건강">스포츠/건강</option>
											<option value="반려동물">반려동물</option>
											<option value="맛집">맛집</option>
											<option value="여행/숙박">여행/숙박</option>
											<option value="지역/문화">지역/문화</option>
											<option value="기타">기타</option>
										</select>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-sm-3 d-flex justify-content-between">
										<h6 class="mt-1">썸네일 이미지</h6>
									</div>
									<div class="col-sm-9 flex-column justify-content-between align-items-center">
										<div class="px-file-upload">
											<input name="campaign_img" id="px_file" type="file" class="px-input-file">
											<label for="px_file" title="파일을 선택해주세요">
													<i class="feather-upload"></i>
													<span class="text-center d-inline-block w-100 mb-3">이미지 파일 (jpg, jpeg, gif, png) 형식만 등록 가능합니다.</span>
													<span class="btn btn-primary-soft px-input-selected-file">업로드</span>
											</label>
										</div>
										<div class="campaign-image-preview text-center">
											<img class="img-fluid" src="{{campaign_update.thumbnail.url}}" title="" alt="">
										</div>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-sm-3 d-flex justify-content-between align-items-center">
										<h6>제목</h6>
									</div>
									<div class="col-sm-9 d-flex justify-content-between align-items-center">
										<input type="text" name="subject" value="{{campaign_update.subject}}" class="form-control" placeholder="ex)체험단 사이트 콘디">
									</div>
								</div>
									
								<div class="row mb-3">
									<div class="col-sm-3 d-flex justify-content-between align-items-center">
										<h6>제공내역</h6>
									</div>
									<div class="col-sm-9 d-flex justify-content-between align-items-center">
										<input type="text" name="provide" class="form-control" value="{{campaign_update.provide}}" placeholder="ex)10,000원 상당 콘디 이용건 제공">
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-sm-3 d-flex justify-content-between">
										<h6 class="mt-1">가이드라인</h6>
									</div>
									<div class="col-sm-9 d-flex justify-content-between align-items-center">
										<textarea class="form-control" id="summernote" name="guide_line"></textarea>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-sm-3 d-flex justify-content-between align-items-center">
										<h6>필수 키워드</h6>
									</div>
									<div class="col-sm-9 d-flex justify-content-between align-items-center">
										<input type="text" name="keyword" class="form-control" value="{{campaign_update.keyword}}" placeholder="ex)블로그 체험단, 맛집리뷰">
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-sm-3 d-flex justify-content-between align-items-center">
										<h6>제품 URL</h6>
									</div>
									<div class="col-sm-9 d-flex justify-content-between align-items-center">
										<input type="text" name="product_url" class="form-control" value="{{campaign_update.product_url}}" placeholder="ex)https://cornde.com">
									</div>
								</div>
								<button type="button" class="w-100 btn btn-primary mt-2" onclick="campaign_write_submit();">작성완료</button>
							</form>
					</div>
				</div>
			</div>
	</div>
</section>

<!-- include summernote css/js -->
<link href="{% static 'vendor/summernote/css/summernote-lite.css' %}" rel="stylesheet">
<script src="{% static 'vendor/summernote/js/summernote-lite.js' %}"></script>
<script src="{% static 'vendor/summernote/js/lang/summernote-ko-KR.js' %}"></script>

<script>
	$(document).ready(function() {
		$('#summernote').summernote({
			width: '100%',
			height: 400,
			minHeight: 400,
			maxHeight: 400,
			codemirror: "123",
			fontNames: ["Noto Sans KR","Helvetica Neue"],
			lang: 'ko-KR',
			toolbar: [
				['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
				['insert',['picture','video']],
			],
			fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
		});
		$('.note-editable').html("{{campaign_update.guide_line|safe}}");
		$('textarea[class=form-control]').val("{{campaign_update.guide_line|safe}}");

		$('select[name=campaign_type]').val('{{campaign_update.campaign_type}}').prop("selected",true);
		$('select[name=channel]').val('{{campaign_update.channel}}').prop("selected",true);
		$('select[name=category]').val('{{campaign_update.category}}').prop("selected",true);
	});
	
	function campaign_write_submit(e) {
		var campaignWriteForm = document.campaignWriteForm;
    var campaign_type = campaignWriteForm.campaign_type.value;
		var category = campaignWriteForm.category.value;
		var channel = campaignWriteForm.channel.value;
		var subject = campaignWriteForm.subject.value;
		var provide = campaignWriteForm.provide.value;
		var guide_line = campaignWriteForm.guide_line.value;
		var keyword = campaignWriteForm.keyword.value;
		
    
		if (isEmpty(campaign_type)) {
			openPopup('알림','캠페인 타입을 선택해주세요.');
			return false;
		}
		if (isEmpty(category)) {
			openPopup('알림','카테고리를 선택해주세요.');
			return false;
		}
		if (isEmpty(channel)) {
			openPopup('알림','활동 채널을 선택해주세요.');
			return false;
		}
		if (isEmpty(subject)) {
			openPopup('알림','제목을 입력해주세요.');
			return false;
		}
		if (isEmpty(provide)) {
			openPopup('알림','제공내역을 입력해주세요.');
			return false;
		}
		if (isEmpty(guide_line)) {
			openPopup('알림','가이드라인을 입력해주세요.');
			return false;
		}
		if (isEmpty(keyword)) {
			openPopup('알림','필수 키워드를 입력해주세요.');
			return false;
		}


		var queryString = new FormData(document.querySelector('form[name=campaignWriteForm]'));
 
    $.ajax({
        type : 'POST',
        url : "{{request.path}}",
				enctype	: 'multipart/form-data',
        data : queryString,
        dataType : 'json',
				processData: false,
    		contentType: false,
        success: function(data){
          if(data.result==200){
            openPopup("알림", data.result_text,'',"location.href = '{% url 'CampaignDetail' campaign_update.id %}'");
          }else{
            openPopup("알림", data.result_text);
          }
          return;
        },
        error: function (request, status, error){
          var msg = "ERROR : " + request.status + "<br>"
			    msg +=  + "내용 : " + request.responseText + "<br>" + error;
			    console.log(msg);
        }
    });
	}


	document.getElementById('px_file').onchange = function() {
		var fileTypes = ['jpg', 'jpeg', 'png'];  //acceptable file types

		function readURL(input) {
				if (input.files && input.files[0]) {
					var extension = input.files[0].name.split('.').pop().toLowerCase(),  //file extension from input file
							isSuccess = fileTypes.indexOf(extension) > -1;  //is extension in acceptable types
					if (isSuccess) {			
						var reader = new FileReader();
						reader.onload = function(e) {
							$('.campaign-image-preview').removeClass("d-none");
							$('.campaign-image-preview img').attr("src", e.target.result);
						}
						reader.readAsDataURL(input.files[0]);
						
					} else { 
						openPopup('알림','이미지 파일이 아닙니다.');
					}
				}
		}
		readURL(this);
  }
</script>


{% endblock %}