{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load campaign_filter %}

<section class="section position-relative">
	<div class="container">
			<div class="row justify-content-center section-heading">
					<div class="col-lg-6 text-center">
							<h5 class="h1">신청 체험단 리스트</h5>
							<h6 class="m-0">선정 {{campaign_picked_count}}명<span class="text-body fw-400">/{{campaign_offer_list.0.campaign.limit_offer}}명</span> </h6>
					</div>
			</div>
			<div class="row g-3">
				{% for campaignOfferList in campaign_offer_list %}
				<div class="col-lg-3 col-sm-6">
						<div class="card position-relative">
								<div class="card-body">
										<div class="d-flex align-items-center">
											<div class="avatar">
												<img title="" alt="" class="avatar-img rounded-circle" src="{{campaignOfferList.user.avater.url}}">
											</div>
											<div class="col ps-3">
													<h6 class="m-0">{{campaignOfferList.user.nickname}}</h6>
						
											</div>
											{% if campaignOfferList.is_picked %}
											<div class="ms-auto">
												<p class="icon-sm bg-primary text-white rounded-circle" href="#">
														<i class="bi bi-check"></i>
												</p>
											</div>
											{% endif %}
										</div>
										<p class="mt-1 small">{{campaignOfferList.appeal}}</p>
										<div class="border-top border-gray-100 mt-3 pt-3 row gx-2">
												{% if campaignOfferList.is_picked %}
													{% if campaignOfferList.gigcampaignreview_set.all.0.review_url %}
													<div class="col-6">
														<a class="btn w-100 btn-primary-soft" target="_blank" href="{{campaignOfferList.gigcampaignreview_set.all.0.review_url}}">리뷰보기</a>
													</div>
													{% if campaignOfferList.gigcampaignreview_set.all.0.is_confirm %}
													<div class="col-6">
														<a class="btn w-100 btn-primary disabled" href="#">완료</a>
													</div>
													{% else %}
													<div class="col-6">
														<a class="btn w-100 btn-primary" href="#" onclick="campaign_confirm_submit(this);" data-url="{% url 'CampaignConfirm' campaignOfferList.gigcampaignreview_set.all.0.id %}">완료</a>
													</div>
													{% endif %}
													{% else %}
													<div class="col-12">
														<a class="btn w-100 btn-primary-soft disabled" href="#">리뷰작성 대기중</a>
													</div>
													{% endif %}
												{% else %}
												<div class="col-6">
													<a class="btn w-100 btn-primary-soft" href="{{campaignOfferList.sns_url}}">SNS보기</a>
												</div>
												<div class="col-6">
													<a class="btn w-100 btn-primary" href="#" onclick="campaign_pick_submit('{{campaignOfferList.id}}');">선정하기</a>
												</div>
												{% endif %}
										</div>
								</div>
						</div>
				</div>
				{% endfor %}
			</div>
			<div class="pt-6 text-center">
				<a class="btn btn-primary-soft" href="{% url 'CampaignDetail' campaign_offer_list.0.campaign.id %}">
					캠페인 바로가기
				</a>
			</div>
	</div>
</section>

<script>
	function campaign_pick_submit(e) {

$.ajax({
		type : 'POST',
		url : "{{request.path}}",
		headers: { "X-CSRFToken": '{{csrf_token}}' },
		data : {
			offer_id: e,
		},
		dataType : 'json',
		success: function(data){
			if(data.result==200){
				if (data.result_text) {
					openPopup("알림", data.result_text,'',"reload");
				} else {
					openPopup("알림", data.result_text,);
				}
				return
			}else{
				openPopup("알림", data.result_text);
			}
			return;
		},
		error: function (request, status, error){
			var msg = "ERROR : " + request.status + "<br>"
			msg +=  + "내용 : " + request.responseText + "<br>" + error;
			console.log(msg);
		}
});
}

	function campaign_confirm_submit(e) {

		$.ajax({
				type : 'GET',
				url : e.dataset.url,
				headers: { "X-CSRFToken": '{{csrf_token}}' },
				dataType : 'json',
				success: function(data){
					if(data.result==200){
						if (data.result_text) {
							openPopup("알림", data.result_text,'',"reload");
						} else {
							openPopup("알림", data.result_text,);
						}
						return
					}else{
						openPopup("알림", data.result_text);
					}
					return;
				},
				error: function (request, status, error){
					var msg = "ERROR : " + request.status + "<br>"
					msg +=  + "내용 : " + request.responseText + "<br>" + error;
					console.log(msg);
				}
		});
	}
</script>
{% endblock %}